@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body
{
    font-family: 'Roboto', sans-serif !important;
    overflow-x: hidden;
    margin-bottom: 0 auto;
    background: #f2f2f2;
    font-family: 'Open Sans', sans-serif;
}

p, h1 ,h2 ,h3, h4, h5, h6 {
    margin: 0 !important;
}

.all-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

a{
    text-decoration: none !important;
}

.loader
{
    background-color: #fff;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    z-index: 999;
}

.loader.hide
{
    display: none;
}

.top-bar
{
    padding: 4% 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: soft-light;
    background-color: #151313;
}

.top-bar .logo1 a
{
    font-size: 25px;
    color: white;
    font-family: serif;
}

.top-bar .nav
{
    float: right;
    padding-top: 8px;
}

.top-bar .nav ul
{
    display: flex;
    list-style: none;
}

.top-bar .nav li a
{
    color: white;
    padding: 0 15px 0 15px;
    font-size: 16px;
    display: block;
    text-align: center;
    border-bottom: 3px solid transparent;
}

.top-bar .nav a:hover
{
   border-bottom: 3px solid red;
    opacity: 0.5s;
    transition: 0.5s;
}

.top-bar .nav .btn1
{
    margin-left: 10px;
}

.top-bar .nav .btn1 a
{
    color: white;
    background-color: #2bb673;
    border: 1px solid black;
    border-radius: 6px;
    padding: 7px 30px 7px 30px;
    font-size: 16px;
}

.top-bar .nav .btn1 a:hover
{
    background-color: red;
    color: #fff;
    opacity: 0,5s;
    transition: 0.5s;
}

.top-bar .slider
{
    padding-top: 10%;
}

.top-bar .slider .heading1 h1
{ 
    font-size: 40px;
    color: white;
    margin-bottom: 0;
}

.top-bar .slider h1 span
{
    color: red;
}

.top-bar .slider .btn2
{
    margin-top: 10%;
    margin-right: 10px;
}

.top-bar .slider .btn2 a.active 
{
    color: white;
    background-color: #2bb673;
    border: 1px solid black;
    border-radius: 6px;
    padding: 7px 30px 7px 30px;
    font-size: 16px;
    margin-right: 5px;
}

.top-bar .slider .btn2 a.active:hover
{
    background-color: red;
    color: #fff;
    opacity: 0,5s;
    transition: 0.5s;
}

.top-bar .slider .btn2 a
{
    color: white;
    background-color: red;
    border: 1px solid black;
    border-radius: 6px;
    padding: 7px 30px 7px 30px;
    font-size: 16px;
}

.top-bar .slider .btn2 a:hover
{
    background-color: #2bb673;
    color: #fff;
    opacity: 0,5s;
    transition: 0.5s;
}

.top-bar .slider .img1 img
{
    width: 110%;
    transform: translate(10px, -20px);
}

/* dropdown buttn */

.dropdown
{
    position: relative;
    display: inline-block;
}
  
.dropdown-content
{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
   .dropdown-content a 
{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
    .parent li>a:hover  .dropdown-content {display: block;}

.sidenav 
{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
    
.sidenav a 
{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    display: block;
    transition: 0.3s;
    text-align: center;
}
    
.sidenav a:hover 
{
    color: orange;
}
      
.sidenav .closebtn 
{
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
      
@media screen and (max-height: 450px) 
{
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.mobile-nav
{
    display: none;
}  

    
.openbtn, .closebtn
{
    cursor: pointer;
    font-size: 35px;
}

.openbtn
{
    color: #fff;
    position: absolute;
    top: 15px;
    right: 20px;
    z-index: 1;
    display: none;
}

.top-bar .mobile-nav .icon1
{
    margin: 10% 0px 0 15%;
    display: flex;
}

.top-bar .mobile-nav .icon1 i
{
    font-size: 35px;
}

.search
{
    padding: 5% 0;
    background-color: white;
}

.search .btn3
{
    margin-top: 10px;
}

.search .btn3 a
{
    color: white;
    background-color: #2bb673;
    border: 1px solid #2bb673;
    border-radius: 6px;
    padding: 10px 35px 10px 35px;
    font-size: 16px;
}


.search .btn3 a:hover
{
    background-color: red;
    color: #fff;
    opacity: 0,5s;
    transition: 0.5s;
}

.search select
{
    background-color: #676464;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    color: white;
}

.cars
{
    padding: 3% 0;
}

.cars .logos2 .img2 
{
    background-color: white;
    border-radius: 5px;
    padding: 10px 5px 5px 5px;
}

.cars .logos2 .img2 a img
{
    width: 70%;
    height: 40px;
    transform: translate(10px, 0px);
}

.cars .logos2 .img2 a p
{
    color: gray;
    font-size: 12px;
    text-align: center;
    padding-top: 5px;
}

.cars .logos3 
{
    margin: 3% 10% 0 10%;
}

.cars .logos3 .img2
{
    background-color: white;
    border-radius: 5px;
    padding: 10px 5px 5px 5px;
}

.cars .logos3 .img2 a img
{
    width: 70%;
    height: 40px;
    transform: translate(10px, 0px);
}

.cars .logos3 .img2 a p
{
    color: gray;
    font-size: 12px;
    text-align: center;
    padding-top: 5px;
}

.details
{
    background-color: white;
    padding: 5% 0;
    text-align: center;
}

.details .wrapper1:hover
{
    box-shadow: 3px 3px 4px gray;
    transition: 0.5s;
    opacity: 0.5s;
    padding: 10% 0 0% 0;
}

.details .wrapper1 a i
{
    font-size: 40px;
    color: red;
}

.details .wrapper1 h5
{
    font-size: 20px;
    font-weight: 700;
    padding-top: 10%;
    margin-bottom: 0;
    color: black;
}


.details .wrapper1 p
{
    color: #888484;
    margin-bottom: 0;
    font-size: 14px;
    padding: 5% 0 0 0;
}

.details .wrapper1 .btn4
{
    margin-top: 10%;
}

.details .wrapper1 .btn4 a
{
    color: white;
    border: 1px solid red;
    border-radius: 5px;
    padding: 15px 20px 15px 20px;
    background-color: #ff2020;
    font-size: 15px;
}

.details .wrapper1 .btn4 a:hover
{
    opacity: 0.5s;
    transition: 0.5s;
    background-color: black;
}





















/* .top-bar .nav .btn1 a
{
    color: white;
    background-color: #2bb673;
    border: 1px solid black;
    border-radius: 6px;
    padding: 7px 30px 7px 30px;
    font-size: 16px;
}

.top-bar .nav .btn1 a:hover
{
    background-color: red;
    color: #fff;
    opacity: 0,5s;
    transition: 0.5s;
} */







@media screen and (max-width: 1920px)
{

}

@media screen and (max-width: 1366px)
{
    
}

@media screen and (max-width: 768px)
{
    .top-bar
    {
        padding: 5% 0;

    }

    .top-bar .logo1 a
    {
        font-size: 25px;
    }

    .top-bar .nav
    {
        padding-top: 5px;
    }

    .top-bar .nav li a
    {
        padding: 2px 7px 0 7px;
        font-size: 14px;
    }

    .top-bar .nav .btn1
    {
        margin-left: 5px;
    }

    .top-bar .nav .btn1 a
    {
        padding: 5px 20px 5px 20px;
        font-size: 13px;
    }

    .top-bar .nav li a
    {
        padding: 0 10px 0 10px;
        font-size: 14px;
    }

    .top-bar .slider .heading1 h1
    {
        font-size: 30px;
        text-align: center;
    }

    .top-bar .slider .btn2
    {
        margin-left: 10%;
    }

    .top-bar .slider .btn2 a.active
    {
        padding: 5px 25px 5px 25px;
    }

    .top-bar .slider .btn2 a
    {
        padding: 5px 25px 5px 25px;
    }

    .top-bar .slider .img1 img
    {
        width: 100%;
    }

    .search select
    {
        padding: 10px 8px 10px 8px;
        width: 100%;
        font-size: 12px;
    }

    .search .btn3
    {
        margin-top: 5px;
    }

    .search .btn3 a
    {
        padding: 10px 20px 10px 20px;
        font-size: 10px;
    }

    .cars
    {
        display: none;
    }

    .details
    {
        background-color: #eaeaea;
    }

    .details .wrapper1 p
    {
        font-size: 13px;
    }

    .details .wrapper1 .btn4
    {
        margin-top: 15%;
    }

    .details .wrapper1 .btn4 a
    {
        font-size: 13px;
    }
   
}

@media screen and (max-width: 600px)
{
    .openbtn
    {
        display: block;
    }

    .mobile-nav
    {
        display: block;
    }

    .top-bar
    {
        padding: 5% 0;
        text-align: center;
    }

    .top-bar .logo1
    {
        padding-top: 5px;
    }

    .top-bar .nav
    {
        display: none;
    }

    .top-bar .slider
    {
        padding-top: 15%;
    }

    .top-bar .slider .heading1 h1
    {
        font-size: 25px;
        padding: 0px 15%;
    }

    .top-bar .slider .btn2
    {
        margin: 15% 0px 0px 20%;
    }

    .top-bar .slider .btn2 a.active
    {
        margin-right: 5px;
    }

    .top-bar .slider .img1 img
    {
        width: 100%;
        transform: translate(0px, 60px);
        position: relative;
    }

    .search
    {
        padding: 10% 0 10% 0;
    }

    .search select
    {
        margin-top: 10%;
        width: 40%;
    }

    .search .btn3
    {
        margin-top: 10%;
    }

    .cars
    {
        display: none;
    }

    .details
    {
        padding: 0% 0 15% 0;
    }

    .details .wrapper1
    {
        margin-top: 25%;
    }

   
}

@media screen and (max-width: 425px)
{
    
}

@media screen and (max-width: 375px)
{
    
}